@import url('https://fonts.googleapis.com/css2?family=Fenix&family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fenix&family=Poppins:wght@100;200;300;400;500&family=Pushster&display=swap');
/* 
font-family: 'Fenix', serif;
font-family: 'Poppins', sans-serif; 
font-family: 'Pushster', cursive;
*/
:root{
    --main-color: #c7a17a;
    --color: #f71000 ;
    --color1: #0400f7 ;
    --light: #ffffff;
  --dark: #000;
  --black: #525252;
  --orange: #5e2500;
  --white: #F7FBFC;
  --grey: #C2C2C2;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #000;
    font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.info{
    background: #000;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    font-size: 14px;
    border-bottom: 1px solid #333;
}

.info .info-left{
    display: flex;
}
.info-left section:first-child{
    margin-right: 20px;
}
.info-right{
    display: flex;
    align-items: center;
}
.info-right .social{
    margin-right: 20px;
}
.info-right .social a{
    margin: 0px 5px;
    color: #FFF;
    text-decoration: none;
    text-transform: capitalize;
    transition: .4s ease-in-out;
}
.info-right .social a:hover{
    color: var(--main-color);
}
.info-right .info-link a{
    display: inline-block;
    color: #FFF;
    text-transform: capitalize;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    transition: .4s ease-in-out;
    padding: 7px 12px;
    border-radius: 5px;
}

.info-link a:hover{
    border-color: #333;
    background: transparent;
    text-decoration: none;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    background:#131212;
    z-index: 111;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo img{
    width: 100px;
}
header nav{
    display: flex;
    align-items: center;
}
header nav a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 15px;
    color: #FFF;
    transition: .4s ease-in-out;
    margin: 0px 10px;
    position: relative;
}
header nav a::before{
    content: "";
    position: absolute;
    top: 8px;
    left: -8px;
    background: var(--main-color);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: scale(0);
    transition: .4s ease-in-out;
}
header nav a:hover::before{
    transform: scale(1);
}
header nav a:hover{
    color: var(--main-color);
    text-decoration: none;
}
.bars{
    display: none;
}
.bars img{
    width: 29px;
}
@media(max-width: 768px){
    .info{
        display: none;
    }
    .bars{
        display: block;
    }
    header .navigation{
        position: absolute;
        top: 81px;
        left: -100%;
        display: flex;
        justify-content: center;
        align-items: center; 
        transition: .4s ease-in-out;
        flex-direction: column;
        height: 100vh;
        width: 50%;
        background: #000;
    }
    header .navigation li{
        margin: 10px 0px;
    }
}

.home-section{
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0.5861695019804797) 47%) ,
    linear-gradient( 180deg, rgba(0,0,0,0) 96%, rgba(0,0,0,1) 100%) , url(pic/bg7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    position: relative;
}
.home-content{
    position: absolute;
    left: -100%;
    color: #FFF;
    transition: 1s ease-in-out;
}
.home-content h1{
    font-size: 3.5rem;
}
.home-content p{
    font-size: 14px;
    color: #f9f9f9;
}
.home-content .home-links{
    display: flex;
    margin-top: 30px;
}
.home-links a{
    text-decoration: none;
    text-transform: capitalize;
    color: #FFF;
    background: var(--main-color);
    border-radius: 5px;
    padding: 11px 20px;
    display: inline-block;
    border: 1px solid var(--main-color);
    transition: .4s ease-in-out;
}
.home-links .first{
    margin-right: 20px;
}
.home-links .second a{
    background: transparent;
    border-color: #333;
}

.home-links a:hover{
    background: transparent;
    color: var(--main-color);
}
.home-links .second a:hover{
    background: var(--main-color);
    color: #FFF;
}

@media(max-width: 768px){
    .home-content h1{
        font-size: 3rem;
    }
}

@media(max-width: 576px){
    .home-content h1{
        font-size: 2rem;
    }
    .home-content p{
        font-size: 13px;
    }
    .home-content h1 br{
        display: none;
    }
}

@media(max-width: 350px){
    .home-content .home-links{
        flex-direction: column;
        grid-row-gap: 15px;
    }
}

.bg-service{
    width: 90%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row-gap: 20px;
    flex-wrap: wrap;
}
.bg-service .service-one{
    width: 32%;
    position: relative;
    overflow: hidden;
}
.service-one img{
    width: 100%;
    transition: 1s ease-in-out;
}
.service-one .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
}
.service-one .over-txt{
    position: absolute;
    bottom: 30px;
    text-align: center;
    width: 100%;
    color: #FFF;
}
.service-one .over-txt p{
    margin: 0;
    color: var(--main-color);
    text-transform: capitalize;
}
.service-one .over-txt h4{
    text-transform: capitalize;
}
.service-one:hover img{
    transform: scale(1.1);
}
@media(max-width: 991px){
    .bg-service .service-one{
        width: 49%;
    }
}
@media(max-width: 576px){
    .bg-service .service-one{
        width: 100%;
    }
}

.bg-shop{
    width: 90%;
    margin: 100px auto;
}
.bg-shop .shop-links{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
    color:var(--light);
}
.shop-links h2{
    text-transform: capitalize;
    font-family: 'Pushster', cursive;
}
.shop-links .links{
    display: flex;
    align-items: center;
}
.shop-links .links li{
    margin-left: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .4s ease-in-out;
}
.shop-links .links li:hover{
    color: var(--main-color);
}
.bg-shop .shop-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    grid-row-gap: 20px;
}
.shop-flex .shop1{
    width: 24%;
    color: #FFf;
}
.shop1 .shop-image{
    position: relative;
    overflow: hidden;
    background: #212529;
    padding: 50px 20px;
    margin-bottom: 20px;
}
.shop-image img{
    width: 100%;
    transition: .6s ease-in-out;
}
.shop-image:hover img{
    transform: scale(1.1);
}
.shop-image .price{
    position: absolute;
    top: 15px;
    right: 15px;
    border: 1px solid var(--main-color);
    padding: 6px 15px;
    border-radius: 20px;
    font-size: 11px;
    font-weight: bold;
}
.shop-image .social{
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
}
.shop-image .social a{
    text-decoration: none;
    color: #FFf;
    font-size: 10px;
    border: 1px solid #FFF;
    padding: 5px 7px;
    transition: .4s ease-in-out;
}
.shop-image .social a:hover{
    border-color: var(--main-color);
    color: var(--main-color);
}
.shop-image:hover .social{
    animation: animate1 .6s ease-in-out forwards;
}
.shop-image .social{
    animation: animate2 .6s ease-in-out;
} 
.shop1.mix.coffee:nth-child(4) .shop-image img {
width: 68%;
display: block;
margin-left: auto;
margin-right: auto;
}
.shop1.mix.coffee:nth-child(4) .shop1 .shop-image {
    margin-right: 20px;
}

@keyframes animate1 {
    0%{
        opacity: 0;
        bottom: -100px;
    }
    100%{
        opacity: 1;
        bottom: 30px;
    }
}


@keyframes animate2 {
    0%{
        opacity: 1;
        bottom: 30px;
    }
    100%{
        opacity: 0;
        bottom: -100px;
    }
}

.shop1 h2{
    text-transform: capitalize;
    font-size: 1.2rem;
}
.shop1 .gold{
    color: gold;
}
.shop1 .stars{
    margin-bottom: 10px;
}
.shop1 .stars i{
    margin: 0px -2px;
    font-size: 12px;
}
.shop1 article{
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
}
.shop1 span{
    color: #555;
    text-decoration: line-through;
}

@media(max-width: 991px){
    .shop-flex .shop1{
        width: 49%;
    }
}
@media(max-width: 576px){
    .shop-flex .shop1{
        width: 100%;
    }
    .bg-shop .shop-links{
        flex-direction: column;
        justify-content: center;
    }
}

.bg-menu{
    background-image: url(pic/home-1-parallax-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 50px 0px;
    margin: 100px 0px;
}
.menu-title{
    margin-bottom: 50px;
    text-align: center;
    color: #FFF;
}
.menu-title section{
    text-transform: uppercase;
    font-size: 15px;
    color: var(--main-color);
}
.menu-title h2{
    font-size: 2.8rem;
    margin-top: 4px;
    font-family: 'Pushster', cursive;
    text-transform: uppercase;
}
.menu-title hr{
    margin: 15px auto;
    width: 150px;
    background: var(--main-color);
}
.menu-flex{
    width: 90%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu-flex .menu1{
    width: 49%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    margin-bottom: 20px;
}
.menu1 img{
    width: 100px;
    margin-right: 10px;
}
.menu1 h4{
    text-transform: capitalize;
    letter-spacing: -1px;
    white-space: nowrap;
}
.menu1 .line{
    margin-top: 10px;
    border-top: 1px dotted var(--main-color);
    width: 52%;
}

.menu-link{
    text-align: center;
    margin: 30px 0;
}
.menu-link a{
    text-decoration: none;
    display: inline-block;
    text-transform: capitalize;
    color: #FFF;
    background: var(--main-color);
    padding: 10px 18px;
    transition: .4s ease-in-out;
    border: 1px solid var(--main-color);
}
.menu-link a:hover{
    background: transparent;
}
@media(max-width: 991px){
    .menu-flex .menu1{
        width: 100%;
    }
}

.bg-gallery{
    margin: 100px 0;
}
.bg-gallery .gallery-flex{
    display: flex;
}
.gallery-flex .image-one{
    width: 40%;
}
.gallery-flex img{
    width: 100%;
    cursor: pointer; 
}
.inside-gallery{
    display: flex;
    width: 40%;
}
.inside-gallery .left{
    display: flex;
    flex-direction: column;
}

.inside-gallery .right{
    display: flex;
    flex-direction: column;
}

.last-image{
    width: 20%;
}

.bg-gallery .event{
    position: relative;
}
.bg-gallery .overlay{
    position: absolute;
    background: rgba(0,0,0,.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .4s ease-in-out;
}
.bg-gallery .event:hover .overlay{
    opacity: 1;
}

@media(max-width: 768px){
    .bg-gallery .gallery-flex{
        flex-wrap: wrap;
    }
    .gallery-flex .image-one{
        width: 50%;
    }
    .inside-gallery{
        width: 50%;
    }
    .bg-gallery .last-image{
        display: none;
    }
}

@media(max-width: 576px){
    .gallery-flex .image-one{
        width: 100%;
    }
    .inside-gallery{
        width: 100%;
    }
}

.bg-about{
    margin: 100px 0;
    width: 100%;
}
.bg-about .about-flex{
    display: flex;
}
.about-flex .about1{
    width: 50%;
    position: relative;
}
.about-flex .about1 img{
    width: 100%;
}
.about1 .image-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.about1-txt{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
}
.about1-txt h3{
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Pushster', cursive;
    width: 100%;
    text-align: center;
}
.about1-txt .txt-inside{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.txt-inside section{
    text-transform: capitalize;
}
@media(max-width: 768px){
    .about-flex{
        flex-wrap: wrap;
    }
    .about-flex .about1{
        width: 100%;
    }

}

/* footerstyle */
h3 {
    font-family: "Noto Serif Display", serif;
    font-size: 2.3rem;
    font-weight: 300;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: var(--dark);
    font-weight: 500;
    transition: 0.3s ease-in;
    border-bottom: 1px solid transparent;
    margin-bottom: 0.5rem;
    display: inline-flex;
  }
  a:hover {
    border-bottom: 1px solid var(--dark);
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  .button2 {
    appearance: none;
    border: 0;
    background: transparent;
    top: 4.9px; 
   cursor: pointer;

  }
  .flex {
    display: flex;
  }
  .footer_video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    border: none;
  }
  .footer_inner {
    background: var(--light);
    backdrop-filter: blur(50px);
    border: 0.1px solid rgba(233, 232, 232, 0.208);
    border-radius: 5px;
    padding: 2rem;
    margin: 1rem 0;
  }
  .footer {
      background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)) , url(pic/footer-bg.jpg);
      position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
  }
  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(100%, 400px);
    border-bottom: 1px solid var(--dark);
  }
  
  input {
    padding: 0.75rem 0;
    border: none;
    background: none;
    font-weight: 500;
    transition: border 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 0;
    width: 100%;
    font-size: 1.05rem;
    font-weight: bolder;
  }
  input:focus {
    outline: none;
  }
  input::placeholder {
    color: var(--dark);
  }
  @media (min-width: 675px) {
    .layout {
      display: flex;
      flex-wrap: nowrap;
      column-gap: 2rem;
    }
    .w-50 {
      width: 50%;
    }
    .w-25 {
      width: 25%;
    }
  }
  form {
    position: relative;
  }
  svg {
    margin: 0.5rem;
  }
  .c-2 {
    margin-top: 3.5rem;
  }
  .footer_copyright {
    color: var(--light);
  }
/* endfooterstyle */

.check{
    margin-top: 20px;
}
.check label{
    font-size: 14px;
}
@media(max-width: 991px){
    .footer-flex .footer1{
        width: 49%;
    }
}

@media(max-width: 576px){
    .footer-flex .footer1{
        width: 100%;
    }
}


  /* Styles for product section */
  .product {
    display: flex;
    margin-top: 20px;
    margin-top: 6.5rem;
  }
  
  .product-image img {
    width: 600px;
    margin-right: 10px;
  }
  .product-image:hover img {
    transform: scale(1.1); }

  
  .product-description {
    flex-grow: 1;
  }
  
  .product-description h2 {
    margin-top: 0;
    margin-top: 1.4rem;
  }
  
.product-description p.price {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .product-description p {
    margin-top: 1.7rem;
  }
  .button {
    position: relative;
    padding: 16px 30px;
    font-size: 1.5rem;
    color: var(--color);
    border: 2px solid rgba(179, 1, 1, 0.295);
    border-radius: 4px;
    text-shadow: 0 0 15px var(--color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    z-index: 1;
    top: 2.9rem;
    justify-content: center;
    align-items: center;
    display:flex;
  }
  
  .button:hover {
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 0px var(--color);
  }
  
  .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color);
    z-index: -1;
    transform: scale(0);
    transition: 0.5s;
  }
  
  .button:hover::before {
    transform: scale(1);
    transition-delay: 0.5s;
    box-shadow: 0 0 10px var(--color),
      0 0 30px var(--color),
      0 0 60px var(--color);
  }
  
  .button span {
    position: absolute;
    background: var(--color);
    pointer-events: none;
    border-radius: 2px;
    box-shadow: 0 0 10px var(--color),
      0 0 20px var(--color),
      0 0 30px var(--color),
      0 0 50px var(--color),
      0 0 100px var(--color);
    transition: 0.5s ease-in-out;
    transition-delay: 0.25s;
  }
  
  .button:hover span {
    opacity: 0;
    transition-delay: 0s;
  }
  
  .button span:nth-child(1),
  .button span:nth-child(3) {
    width: 40px;
    height: 4px;
  }
  
  .button:hover span:nth-child(1),
  .button:hover span:nth-child(3) {
    transform: translateX(0);
  }
  
  .button span:nth-child(2),
  .button span:nth-child(4) {
    width: 4px;
    height: 40px;
  }
  
  .button:hover span:nth-child(1),
  .button:hover span:nth-child(3) {
    transform: translateY(0);
  }
  
  .button span:nth-child(1) {
    top: calc(50% - 2px);
    left: -50px;
    transform-origin: left;
  }
  
  .button:hover span:nth-child(1) {
    left: 50%;
  }
  
  .button span:nth-child(3) {
    top: calc(50% - 2px);
    right: -50px;
    transform-origin: right;
  }
  
  .button:hover span:nth-child(3) {
    right: 50%;
  }
  
  .button span:nth-child(2) {
    left: calc(50% - 2px);
    top: -50px;
    transform-origin: top;
  }
  
  .button:hover span:nth-child(2) {
    top: 50%;
  }
  
  .button span:nth-child(4) {
    left: calc(50% - 2px);
    bottom: -50px;
    transform-origin: bottom;
  }
  
  .button:hover span:nth-child(4 ) {
    bottom: 50%;
  }
  

  /* button1  */
  .button1 {
    position: relative;
    padding: 16px 30px;
    font-size: 1.5rem;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 4px;
    text-shadow: 0 0 15px var(--color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    z-index: 1;
    top: 4.5rem;
    justify-content: center;
    align-items: center;
    display:flex;
  }
  
  .button1:hover {
    color: #fff;
    border: 2px solid rgba(73, 0, 0, 0);
    box-shadow: 0 0 0px var(--color);
  }
  
  .button1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color);
    z-index: -1;
    transform: scale(0);
    transition: 0.5s;
  }
  
  .button1:hover::before {
    transform: scale(1);
    transition-delay: 0.5s;
    box-shadow: 0 0 10px var(--color),
      0 0 30px var(--color),
      0 0 60px var(--color);
  }
  
  .button1 span {
    position: absolute;
    background: var(--color);
    pointer-events: none;
    border-radius: 2px;
    box-shadow: 0 0 10px var(--color),
      0 0 20px var(--color),
      0 0 30px var(--color),
      0 0 50px var(--color),
      0 0 100px var(--color);
    transition: 0.5s ease-in-out;
    transition-delay: 0.25s;
  }
  
  .button1:hover span {
    opacity: 0;
    transition-delay: 0s;
  }
  
  .button1 span:nth-child(1),
  .button1 span:nth-child(3) {
    width: 40px;
    height: 4px;
  }
  
  .button1:hover span:nth-child(1),
  .button1:hover span:nth-child(3) {
    transform: translateX(0);
  }
  
  .button1 span:nth-child(2),
  .button1 span:nth-child(4) {
    width: 4px;
    height: 40px;
  }
  
  .button1:hover span:nth-child(1),
  .button1:hover span:nth-child(3) {
    transform: translateY(0);
  }
  
  .button1 span:nth-child(1) {
    top: calc(50% - 2px);
    left: -50px;
    transform-origin: left;
  }
  
  .button1:hover span:nth-child(1) {
    left: 50%;
  }
  
  .button1 span:nth-child(3) {
    top: calc(50% - 2px);
    right: -50px;
    transform-origin: right;
  }
  
  .button1:hover span:nth-child(3) {
    right: 50%;
  }
  
  .button1 span:nth-child(2) {
    left: calc(50% - 2px);
    top: -50px;
    transform-origin: top;
  }
  
  .button1:hover span:nth-child(2) {
    top: 50%;
  }
  
  .button1 span:nth-child(4) {
    left: calc(50% - 2px);
    bottom: -50px;
    transform-origin: bottom;
  }
  
  .button1:hover span:nth-child(4 ) {
    bottom: 50%;
  }
  /* button 1end */
  /* button3start */
  .button3 {
    position: relative;
    padding: 16px 30px;
    font-size: 1.5rem;
    color: var(--color1);
    border: 2px solid rgba(0, 47, 255, 0.39);
    border-radius: 4px;
    text-shadow: 0 0 15px var(--color1);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    z-index: 1;
    top: 4.5rem;
    justify-content: center;
    align-items: center;
    display:flex;
  }
  
  .button3:hover {
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 0px var(--color1);
  }
  
  .button3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color1);
    z-index: -1;
    transform: scale(0);
    transition: 0.5s;
  }
  
  .button3:hover::before {
    transform: scale(1);
    transition-delay: 0.5s;
    box-shadow: 0 0 10px var(--color1),
      0 0 30px var(--color1),
      0 0 60px var(--color1);
  }
  
  .button3 span {
    position: absolute;
    background: var(--color1);
    pointer-events: none;
    border-radius: 2px;
    box-shadow: 0 0 10px var(--color1),
      0 0 20px var(--color1),
      0 0 30px var(--color1),
      0 0 50px var(--color1),
      0 0 100px var(--color1);
    transition: 0.5s ease-in-out;
    transition-delay: 0.25s;
  }
  
  .button3:hover span {
    opacity: 0;
    transition-delay: 0s;
  }
  
  .button3 span:nth-child(1),
  .button3 span:nth-child(3) {
    width: 40px;
    height: 4px;
  }
  
  .button3:hover span:nth-child(1),
  .button3:hover span:nth-child(3) {
    transform: translateX(0);
  }
  
  .button3 span:nth-child(2),
  .button3 span:nth-child(4) {
    width: 4px;
    height: 40px;
  }
  
  .button3:hover span:nth-child(1),
  .button3:hover span:nth-child(3) {
    transform: translateY(0);
  }
  
  .button3 span:nth-child(1) {
    top: calc(50% - 2px);
    left: -50px;
    transform-origin: left;
  }
  
  .button3:hover span:nth-child(1) {
    left: 50%;
  }
  
  .button3 span:nth-child(3) {
    top: calc(50% - 2px);
    right: -50px;
    transform-origin: right;
  }
  
  .button3:hover span:nth-child(3) {
    right: 50%;
  }
  
  .button3 span:nth-child(2) {
    left: calc(50% - 2px);
    top: -50px;
    transform-origin: top;
  }
  
  .button3:hover span:nth-child(2) {
    top: 50%;
  }
  
  .button3 span:nth-child(4) {
    left: calc(50% - 2px);
    bottom: -50px;
    transform-origin: bottom;
  }
  
  .button3:hover span:nth-child(4 ) {
    bottom: 50%;
  }
  /* button3end */

  /* Styles for additional products section */
  .additional-products {
    margin-top: 60px;
  }
  
  .additional-products h3 {
    margin-top: 0;
  }
  
  .additional-products .product {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 2rem;
    align-items: center;
  }
  .additional-products .product .product-image {
    flex: 0 0 auto;
    margin-right: 20px;
    display: flex;
  }

  .additional-products .product-image img {
    width: 100px;
    margin-right: 10px;
    height: 100%;
  }
  
  /* Styles for reviews section */
  * { box-sizing: border-box; }



.reviews-section {
  background-color: #000000;
  padding: 20px;
  position: relative;
  height: 80vh;   
  display: flex;
  justify-content: center;
  align-items: center; }
  
  .reviews-section h3 {
    margin-top: -29rem;
    margin-left: 40.3%;
  }


.review {
  background-color: rgb(0, 0, 0)000;
  padding: 200px;
  margin-bottom: 10px;
}

  .container {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png");
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  color: #000000;
  top: 6rem;
}

.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 150px;
  position: relative;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
  width: 100%;
  text-align: center;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.emoji-wrapper:before,
.emoji-wrapper:after{
  content: "";
  height: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.emoji-wrapper:before {
  top: 0;
  background: linear-gradient(to bottom, rgb(0, 0, 0) 0%,rgb(0, 0, 0) 35%,rgba(0, 0, 0, 0) 100%);
}

.emoji-wrapper:after{
  bottom: 0;
  background: linear-gradient(to top, rgb(0, 0, 0) 0%,rgb(0, 0, 0) 35%,rgba(0, 0, 0, 0) 100%);
}

.emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s;
}

.emoji > svg {
  margin: 15px 0; 
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

#rating-1:checked ~ .emoji-wrapper > .emoji { transform: translateY(-100px); }
#rating-2:checked ~ .emoji-wrapper > .emoji { transform: translateY(-200px); }
#rating-3:checked ~ .emoji-wrapper > .emoji { transform: translateY(-300px); }
#rating-4:checked ~ .emoji-wrapper > .emoji { transform: translateY(-400px); }
#rating-5:checked ~ .emoji-wrapper > .emoji { transform: translateY(-500px); }

.feedback {
  max-width: 360px;
  background-color: #000000;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 4px 30px rgba(255, 0, 0, 0.05);
  position: absolute;
  top: auto;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* checkout */
#page {
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main {
  width: 41.875rem;
  height: 18.4375rem;
  background-color: var(--black);
  font-family: 'Questrial', sans-serif;
  position: relative;
  z-index: 1;
}
.product-container {
  width: 21.25rem;
  height: 17.1875rem;
  background-color: var(--orange);
  position: relative;
  top: -2.7rem;
  left: -4.4rem;
  overflow: hidden;
  & h2 {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin-top: .5rem;
  }
  & img {
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    object-fit: cover;
  }
}
.card {
  width: 17.5rem;
  height: 11rem;
  background-color: var(--white);
  border-radius: .7rem;
  padding: 1.3rem 1.6rem;
  position: absolute;
  top: -2.75rem;
  right: 4.4rem;
  &:after {
    content: '';
    display: block;
    width: 17.5rem;
    height: 11rem;
    background-color: #2A2A2A;
    border-radius: .7rem;
    position: absolute;
    top: 2.7rem;
    right: -1.5rem;
    transform: rotate(8deg);
    z-index: -1;
  }
}
.chip {
  width: 3rem;
  height: 2.2rem;
  margin-bottom: .7rem;
}
form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  & label {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: .55rem;
    color: #C2C2C2;
    margin-top: .35rem;
  }
  & label[for=name] {
    width: 72%;
  }
  & label[for=date] {
    width: 22%;
    margin-left: 6%;
  }
  & label[for=cvc] {
    width: 15%;
    position: absolute;
    right: 7%;
    bottom: -3.9rem;
  }
  & label[for=remember] {
    width: auto;
    height: 2.8rem;
    font-size: .7rem;
    position: absolute;
    left: -1.5rem;
    bottom: -10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    & input {
      margin-right: .5rem;
      filter: invert(100%) hue-rotate(30deg) brightness(1.7);
      color: red;
      height: 1rem;
      width: 1rem;
    }
  }
  & input {
    border: none;
    border-bottom: 1px solid var(--grey);
    outline: none;
    background-color: transparent;
    font-size: 1.1rem;
    padding: .2rem  0;
    &#cvc {
      color: white;
    }
  }
  & button {
    height: 2.8rem;
    width: 11.8rem;
    font-size: .8rem;
    position: absolute;
    bottom: -10rem;
    left: 10rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    & .fa-angle-right {
      font-size: 2rem;
      position: absolute;
      left: 72%;
    }
  }
}
.price-container {
  position: absolute;
  bottom: .6rem;
  left: 3.4rem;
  display: inline-block;
  & strong {
    font-size: 2.2rem;
    color: white;
  }
  & small {
    font-size: 0.6rem;
    color: var(--grey);
  }
}
.bg-shop .checkout{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
    color: #f30000;
}
.checkout h2{
    text-transform: capitalize;
    font-family: 'Pushster', cursive;
color: aliceblue;}




/* end checkout */

/* sippingform */
@import url("https://rsms.me/inter/inter.css");

:root {
  --color-gray: #737888;
  --color-lighter-gray: #e3e5ed;
  --color-light-gray: #f7f7fa;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  margin: 0;
}

h1 {
  margin-bottom: 1rem;
}

p {
  color: var(--color-gray);
}

hr {
  height: 1px;
  width: 100%;
  background-color: var(--color-light-gray);
  border: 0;
  margin: 2rem 0;
}

.container {
  max-width: 40rem;
  padding: 10vw 2rem 0;
  margin: 0 auto;
  height: 100vh;
}

.form {
  display: grid;
  grid-gap: 1rem;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-lighter-gray);
  padding: .5rem;
  border-radius: .25rem;
}

.field__label {
  color: var(--color-gray);
  font-size: 0.6rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0.25rem
}

.field__input {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}
.field:focus-within {
  border-color: #000;
}

.fields {
  display: grid;
  grid-gap: 1rem;
}
.fields--2 {
  grid-template-columns: 1fr 1fr;
}
.fields--3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.button {
  background-color: #000;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  display: block;
  color: #fff;
  width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 0;
  cursor: pointer;
  outline: 0;
}
.button:focus-visible {
  background-color: #333;
}
/* endshippingform */











